html
	head
		link(rel="stylesheet", type="text/css", href="/site.css")
	body
		div(id="site")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
		script(src="/site.js")